---
import { Image } from "astro:assets";
import Logo from "../assets/ModernBetaLogoFull.png";
import "../styles/navbar.css";
---

<nav>
	<div class="nav-content">
		<div class="left">
			<a href="/" id="nav-logo">
				<Image src={Logo} alt="Modern Beta" />
			</a>
			<div id="nav-links" class="desktop-only">
				<a href="/">Home</a>
				<a href="/rules">Rules</a>
				<a href="/socials">Socials</a>
				<a target="_blank" href="https://store.modernbeta.org/">Store</a>
				<a target="_blank" href="https://map.modernbeta.org">Map</a>
				<div class="dropdown">
					Wiki
					<div class="dropdown-content">
						<a
							target="_blank"
							href="https://web.archive.org/web/20110902065819/http://www.minecraftwiki.net:80/wiki/Minecraft_Wiki"
							>Beta 1.7.3 Wiki</a
						>
						<a
							target="_blank"
							href="https://modernbeta.miraheze.org/wiki/Main_Page"
							>Community Wiki</a
						>
					</div>
				</div>
			</div>
		</div>

		<div class="right">
			<button id="nav-menu-btn" class="mobile-only" onclick="togglenav()"
				><img class="pixel-perfect" src="/images/icons/open_menu.png" alt="Menu" /></button
			>
			<a href="/play" class="play-button-container"
				><button id="join-now-button" class="desktop-only play-now-button">Play Now!</button></a
			>
		</div>
		<div id="mobile-nav-dropdown" class="mobile-only pixel-perfect">
			<a href="/play">Play</a>
			<a href="/rules">Rules</a>
			<a target="_blank" href="https://discord.gg/gXmjuejWtD">Discord</a>
			<a href="/socials">Socials</a>
			<a target="_blank" href="https://store.modernbeta.org/">Store</a>
			<a target="_blank" href="https://map.modernbeta.org">Map</a>
			<a
				target="_blank"
				href="https://web.archive.org/web/20110902065819/http://www.minecraftwiki.net:80/wiki/Minecraft_Wiki"
				>Beta 1.7.3 Wiki</a
			>
			<a target="_blank" href="https://modernbeta.miraheze.org/wiki/Main_Page"
				>Community Wiki</a
			>
		</div>
	</div>
</nav>

<script src="../scripts/mobileNav.js"></script>
